/*-------------------------------------------header------*/
.tsite-header {
  position: fixed;
  width: 100%;
  height: 6em;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-content: stretch;
  transition: 0.3s ease-out; }
  .tsite-header:before {
    position: fixed;
    content: '';
    background: #413486;
    transform: translate3d(0, 0, 0);
    width: 4em;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease-out; }
    @media screen and (max-width: 767px) {
      .tsite-header:before {
        display: none; } }
  @media screen and (max-width: 767px) {
    .tsite-header {
      height: 4em;
      background: black; } }
  @media screen and (max-width: 1399px) {
    .tsite-header ~ [class^='tsite-'] .container {
      margin-left: 3.5em; } }
  @media screen and (max-width: 767px) {
    .tsite-header ~ [class^='tsite-'] .container {
      margin-left: auto; } }
  .tsite-header.sticky {
    height: 3em; }
    .tsite-header.sticky h1 {
      opacity: 0; }
      @media screen and (max-width: 767px) {
        .tsite-header.sticky h1 {
          opacity: 1; } }
    .tsite-header.sticky .navigation {
      opacity: 0; }
      @media screen and (max-width: 767px) {
        .tsite-header.sticky .navigation {
          opacity: 1; } }
    @media screen and (max-width: 767px) {
      .tsite-header.sticky {
        height: 4em;
        background: black; } }
    .tsite-header.sticky:before {
      opacity: 0.5; }
    .tsite-header.sticky:hover:before {
      opacity: 1; }
  .tsite-header .container {
    max-width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%; }
    @media screen and (max-width: 767px) {
      .tsite-header .container {
        position: relative;
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box; } }
  .tsite-header .searchBtn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 36px;
    align-self: center;
    width: 36px;
    height: 36px;
    background: none;
    position: absolute;
    top: 5em;
    left: 0;
    margin: 0 0.75em; }
    @media screen and (max-width: 767px) {
      .tsite-header .searchBtn {
        flex-basis: 40px;
        width: 40px;
        margin: 0 1em;
        margin: 0 1em 0 0.5em;
        top: auto;
        left: auto;
        margin: 0 0.75em 0 1em;
        position: relative; } }
    .tsite-header .searchBtn i {
      color: #fff;
      font-size: 1.75em;
      display: block;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 767px) {
        .tsite-header .searchBtn i {
          font-size: 1.5em; } }
  .tsite-header .social {
    position: fixed;
    width: 2em;
    bottom: 1em;
    left: 1em; }
    @media screen and (max-width: 767px) {
      .tsite-header .social {
        display: none; } }
    .tsite-header .social a {
      display: block;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      margin-bottom: 1em;
      text-align: center; }
      .tsite-header .social a:hover i, .tsite-header .social a:focus i {
        opacity: 1; }
      .tsite-header .social a i {
        font-size: 1.5em;
        color: #fff;
        opacity: 0.75; }
  .tsite-header .menuBtn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30px;
    align-self: center;
    width: 30px;
    height: 36px;
    margin: 0 0.5em 0 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 9; }
    .tsite-header .menuBtn:hover, .tsite-header .menuBtn:focus {
      border: none;
      outline: none; }
    @media screen and (max-width: 767px) {
      .tsite-header .menuBtn {
        margin: 0 1em;
        position: relative;
        top: auto;
        left: auto; } }
    .tsite-header .menuBtn span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #ffffff;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out; }
      .tsite-header .menuBtn span:nth-child(1) {
        top: 6px; }
      .tsite-header .menuBtn span:nth-child(2), .tsite-header .menuBtn span:nth-child(3) {
        top: 15px; }
      .tsite-header .menuBtn span:nth-child(4) {
        top: 24px; }
    .tsite-header .menuBtn.open {
      z-index: 99; }
      .tsite-header .menuBtn.open span:nth-child(1) {
        top: 6px;
        width: 0%;
        left: 50%; }
      .tsite-header .menuBtn.open span:nth-child(2) {
        transform: rotate(45deg); }
      .tsite-header .menuBtn.open span:nth-child(3) {
        transform: rotate(-45deg); }
      .tsite-header .menuBtn.open span:nth-child(4) {
        top: 24px;
        width: 0%;
        left: 50%; }
  .tsite-header h1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
    width: 400px;
    align-self: stretch;
    margin: 0 auto 0 2em;
    position: relative;
    transition: 0.3s ease-out; }
    @media screen and (max-width: 991px) {
      .tsite-header h1 {
        flex-basis: 350px;
        width: 350px; } }
    @media screen and (max-width: 767px) {
      .tsite-header h1 {
        margin: 0 0.5em;
        flex-grow: 1;
        flex-basis: auto;
        width: auto; } }
    @media screen and (max-width: 575px) {
      .tsite-header h1 {
        max-width: 280px;
        margin: 0 auto; } }
    .tsite-header h1 a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      .tsite-header h1 a img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
  .tsite-header .navigation {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    max-width: 45%;
    margin: 0 3em 0 auto;
    align-items: center;
    transition: 0.3s ease-out; }
    @media screen and (max-width: 1399px) {
      .tsite-header .navigation {
        max-width: 50%; } }
    @media screen and (max-width: 767px) {
      .tsite-header .navigation {
        display: none; } }
    .tsite-header .navigation ul {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 50%;
      flex-flow: row wrap; }
      .tsite-header .navigation ul li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 12.5%;
        position: relative; }
        .tsite-header .navigation ul li a {
          color: #fff;
          display: block;
          text-align: center;
          white-space: nowrap;
          text-shadow: 0px 0px 5px black;
          font-size: 1rem;
          line-height: 1.5em;
          font-weight: bold; }
          .tsite-header .navigation ul li a em {
            display: inline-block;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            text-align: center;
            background: #ff3e4d;
            color: #fff;
            line-height: 2em;
            text-shadow: none;
            font-size: 0.75rem;
            font-weight: bold;
            font-style: normal;
            margin-left: 0.5em;
            margin-right: 0.5em;
            transform: translateY(-5px); }
          .tsite-header .navigation ul li a i {
            display: inline-block;
            font-size: 0.75rem;
            margin-left: 0.5em; }
          .tsite-header .navigation ul li a:hover span:before {
            left: -1em;
            opacity: 1; }
          .tsite-header .navigation ul li a span {
            display: inline-block;
            position: relative; }
            .tsite-header .navigation ul li a span:before {
              position: absolute;
              content: '';
              width: 0.4em;
              height: 2px;
              background: #fff;
              left: -2em;
              top: 0.75em;
              opacity: 0;
              transition: 0.3s ease-out; }
        .tsite-header .navigation ul li .languageBlock {
          position: absolute;
          min-width: 120%;
          left: -10%;
          padding-top: 1em;
          display: none;
          z-index: 99; }
          @media screen and (max-width: 767px) {
            .tsite-header .navigation ul li .languageBlock {
              padding-top: 0.65em; } }
          .tsite-header .navigation ul li .languageBlock ul {
            display: block; }
            .tsite-header .navigation ul li .languageBlock ul li {
              display: block; }
          .tsite-header .navigation ul li .languageBlock a {
            color: #fff;
            display: block;
            font-size: 0.875rem;
            padding: 0.5em 2em;
            text-align: left;
            background: rgba(0, 0, 0, 0.75); }
            .tsite-header .navigation ul li .languageBlock a:hover, .tsite-header .navigation ul li .languageBlock a:focus {
              background: #008194;
              color: #fff; }
  .tsite-header.tsite-cyan:before {
    background: #0075ae; }
  .tsite-header.tsite-cyan .navigation ul li .languageBlock a:hover, .tsite-header.tsite-cyan .navigation ul li .languageBlock a:focus {
    background: #008194; }
  .tsite-header.tsite-cyan .megaMenu {
    background: #0075ae; }
    .tsite-header.tsite-cyan .megaMenu .menuItem li a:hover, .tsite-header.tsite-cyan .megaMenu .menuItem li a:focus {
      color: #fff; }
    .tsite-header.tsite-cyan .megaMenu .navigation .languageBlock a {
      background: #00aec7; }
      .tsite-header.tsite-cyan .megaMenu .navigation .languageBlock a:hover, .tsite-header.tsite-cyan .megaMenu .navigation .languageBlock a:focus {
        background: #008194; }
  .tsite-header.tsite-cyan .search {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    .tsite-header.tsite-cyan .search.open {
      pointer-events: auto;
      opacity: 1;
      display: block;
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.3s; }
      .tsite-header.tsite-cyan .search.open .searchBlock {
        transform: translate(-50%, -40%) scale(1);
        transition-delay: 0.5s;
        opacity: 1; }
        @media screen and (max-width: 575px) {
          .tsite-header.tsite-cyan .search.open .searchBlock {
            transform: scale(1); } }
    .tsite-header.tsite-cyan .search a.close {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 1.75em;
      right: 1em; }
      .tsite-header.tsite-cyan .search a.close i {
        font-size: 2em;
        color: #00aec7;
        opacity: 0.8; }
      .tsite-header.tsite-cyan .search a.close:hover i, .tsite-header.tsite-cyan .search a.close:focus i {
        color: #00aec7; }
      @media screen and (max-width: 575px) {
        .tsite-header.tsite-cyan .search a.close {
          top: 1em;
          right: 0.5em; } }
    .tsite-header.tsite-cyan .search .searchBlock .searchForm .adv_search {
      color: #00aec7; }
      .tsite-header.tsite-cyan .search .searchBlock .searchForm .adv_search:hover, .tsite-header.tsite-cyan .search .searchBlock .searchForm .adv_search:focus {
        color: #008194; }
    .tsite-header.tsite-cyan .search .history a.clear:hover, .tsite-header.tsite-cyan .search .history a.clear:focus {
      background: #008194; }
    .tsite-header.tsite-cyan .search .history ul li a:hover, .tsite-header.tsite-cyan .search .history ul li a:focus {
      color: #008194; }
  .tsite-header.tsite-green:before {
    background: #008a7b; }
  .tsite-header.tsite-green .navigation ul li .languageBlock a:hover, .tsite-header.tsite-green .navigation ul li .languageBlock a:focus {
    background: #ea1812; }
  .tsite-header.tsite-green .megaMenu {
    background: #008a7b; }
    .tsite-header.tsite-green .megaMenu .menuItem li a:hover, .tsite-header.tsite-green .megaMenu .menuItem li a:focus {
      color: #fff; }
    .tsite-header.tsite-green .megaMenu .navigation .languageBlock a {
      background: #00bda9; }
      .tsite-header.tsite-green .megaMenu .navigation .languageBlock a:hover, .tsite-header.tsite-green .megaMenu .navigation .languageBlock a:focus {
        background: #ea1812; }
  .tsite-header.tsite-green .search {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    .tsite-header.tsite-green .search.open {
      pointer-events: auto;
      opacity: 1;
      display: block;
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.3s; }
      .tsite-header.tsite-green .search.open .searchBlock {
        transform: translate(-50%, -40%) scale(1);
        transition-delay: 0.5s;
        opacity: 1; }
        @media screen and (max-width: 575px) {
          .tsite-header.tsite-green .search.open .searchBlock {
            transform: scale(1); } }
    .tsite-header.tsite-green .search a.close {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 1.75em;
      right: 1em; }
      .tsite-header.tsite-green .search a.close i {
        font-size: 2em;
        color: #00bda9;
        opacity: 0.8; }
      .tsite-header.tsite-green .search a.close:hover i, .tsite-header.tsite-green .search a.close:focus i {
        color: #00bda9; }
      @media screen and (max-width: 575px) {
        .tsite-header.tsite-green .search a.close {
          top: 1em;
          right: 0.5em; } }
    .tsite-header.tsite-green .search .searchBlock .searchForm .adv_search {
      color: #f06451; }
      .tsite-header.tsite-green .search .searchBlock .searchForm .adv_search:hover, .tsite-header.tsite-green .search .searchBlock .searchForm .adv_search:focus {
        color: #ea1812; }
    .tsite-header.tsite-green .search .history a.clear:hover, .tsite-header.tsite-green .search .history a.clear:focus {
      background: #ea1812; }
    .tsite-header.tsite-green .search .history ul li a:hover, .tsite-header.tsite-green .search .history ul li a:focus {
      color: #ea1812; }
  .tsite-header.tsite-purple:before {
    background: #3e3071; }
  .tsite-header.tsite-purple .navigation ul li .languageBlock a:hover, .tsite-header.tsite-purple .navigation ul li .languageBlock a:focus {
    background: #d92c9d; }
  .tsite-header.tsite-purple .megaMenu {
    background: #3e3071; }
    .tsite-header.tsite-purple .megaMenu .menuItem li a:hover, .tsite-header.tsite-purple .megaMenu .menuItem li a:focus {
      color: #fff; }
    .tsite-header.tsite-purple .megaMenu .navigation .languageBlock a {
      background: #523f95; }
      .tsite-header.tsite-purple .megaMenu .navigation .languageBlock a:hover, .tsite-header.tsite-purple .megaMenu .navigation .languageBlock a:focus {
        background: #d92c9d; }
  .tsite-header.tsite-purple .search {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    .tsite-header.tsite-purple .search.open {
      pointer-events: auto;
      opacity: 1;
      display: block;
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.3s; }
      .tsite-header.tsite-purple .search.open .searchBlock {
        transform: translate(-50%, -40%) scale(1);
        transition-delay: 0.5s;
        opacity: 1; }
        @media screen and (max-width: 575px) {
          .tsite-header.tsite-purple .search.open .searchBlock {
            transform: scale(1); } }
    .tsite-header.tsite-purple .search a.close {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 1.75em;
      right: 1em; }
      .tsite-header.tsite-purple .search a.close i {
        font-size: 2em;
        color: #523f95;
        opacity: 0.8; }
      .tsite-header.tsite-purple .search a.close:hover i, .tsite-header.tsite-purple .search a.close:focus i {
        color: #523f95; }
      @media screen and (max-width: 575px) {
        .tsite-header.tsite-purple .search a.close {
          top: 1em;
          right: 0.5em; } }
    .tsite-header.tsite-purple .search .searchBlock .searchForm .adv_search {
      color: #b2207f; }
      .tsite-header.tsite-purple .search .searchBlock .searchForm .adv_search:hover, .tsite-header.tsite-purple .search .searchBlock .searchForm .adv_search:focus {
        color: #d92c9d; }
    .tsite-header.tsite-purple .search .history a.clear:hover, .tsite-header.tsite-purple .search .history a.clear:focus {
      background: #d92c9d; }
    .tsite-header.tsite-purple .search .history ul li a:hover, .tsite-header.tsite-purple .search .history ul li a:focus {
      color: #d92c9d; }
  .tsite-header.tsite-red:before {
    background: #8d3633; }
  .tsite-header.tsite-red .navigation ul li .languageBlock a:hover, .tsite-header.tsite-red .navigation ul li .languageBlock a:focus {
    background: #e75224; }
  .tsite-header.tsite-red .megaMenu {
    background: #8d3633; }
    .tsite-header.tsite-red .megaMenu .menuItem li a:hover, .tsite-header.tsite-red .megaMenu .menuItem li a:focus {
      color: #fff; }
    .tsite-header.tsite-red .megaMenu .navigation .languageBlock a {
      background: #b34440; }
      .tsite-header.tsite-red .megaMenu .navigation .languageBlock a:hover, .tsite-header.tsite-red .megaMenu .navigation .languageBlock a:focus {
        background: #e75224; }
  .tsite-header.tsite-red .search {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    .tsite-header.tsite-red .search.open {
      pointer-events: auto;
      opacity: 1;
      display: block;
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.3s; }
      .tsite-header.tsite-red .search.open .searchBlock {
        transform: translate(-50%, -40%) scale(1);
        transition-delay: 0.5s;
        opacity: 1; }
        @media screen and (max-width: 575px) {
          .tsite-header.tsite-red .search.open .searchBlock {
            transform: scale(1); } }
    .tsite-header.tsite-red .search a.close {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 1.75em;
      right: 1em; }
      .tsite-header.tsite-red .search a.close i {
        font-size: 2em;
        color: #b34440;
        opacity: 0.8; }
      .tsite-header.tsite-red .search a.close:hover i, .tsite-header.tsite-red .search a.close:focus i {
        color: #b34440; }
      @media screen and (max-width: 575px) {
        .tsite-header.tsite-red .search a.close {
          top: 1em;
          right: 0.5em; } }
    .tsite-header.tsite-red .search .searchBlock .searchForm .adv_search {
      color: #ec7652; }
      .tsite-header.tsite-red .search .searchBlock .searchForm .adv_search:hover, .tsite-header.tsite-red .search .searchBlock .searchForm .adv_search:focus {
        color: #e75224; }
    .tsite-header.tsite-red .search .history a.clear:hover, .tsite-header.tsite-red .search .history a.clear:focus {
      background: #e75224; }
    .tsite-header.tsite-red .search .history ul li a:hover, .tsite-header.tsite-red .search .history ul li a:focus {
      color: #e75224; }
  .tsite-header.tsite-wrap-A {
    margin-left: 0; }

.megaMenu {
  position: fixed;
  width: 60%;
  height: 100%;
  top: 0;
  left: -60%;
  z-index: 8;
  background: #413486;
  padding: 3.5em 2em 1em;
  transition: 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  display: flex;
  justify-content: flex-start; }
  @media screen and (max-width: 767px) {
    .megaMenu {
      width: 100%;
      left: -100%;
      display: flex;
      flex-flow: column nowrap; } }
  .megaMenu .mediaItem {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
    margin: 2em auto 2em 0; }
    @media screen and (max-width: 767px) {
      .megaMenu .mediaItem {
        display: none; } }
    .megaMenu .mediaItem h3 {
      color: #fff;
      font-size: 1em;
      margin: 0 0 0.5em;
      line-height: 1.45em; }
    .megaMenu .mediaItem a:hover img, .megaMenu .mediaItem a:focus img {
      transform: scale(1.1); }
    .megaMenu .mediaItem .img-container {
      position: relative;
      border: 1px solid #555;
      width: 100%;
      background: #000;
      overflow: hidden;
      position: relative;
      margin-bottom: 1em; }
      .megaMenu .mediaItem .img-container:before {
        display: block;
        content: '';
        line-height: 0;
        padding-top: 75%; }
      .megaMenu .mediaItem .img-container img,
      .megaMenu .mediaItem .img-container iframe,
      .megaMenu .mediaItem .img-container video {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto; }
      .megaMenu .mediaItem .img-container img {
        object-fit: cover;
        display: block; }
      .megaMenu .mediaItem .img-container img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.3s ease-out; }
      .megaMenu .mediaItem .img-container iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
  .megaMenu .menuItem {
    padding: 0 5%;
    display: block;
    height: 90%;
    margin: 2em auto 2em 0;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
    padding-bottom: 4em; }
    @media screen and (max-width: 767px) {
      .megaMenu .menuItem {
        margin: 1em auto 0;
        width: 100%;
        height: 70%;
        flex-basis: 100%;
        position: relative; } }
    .megaMenu .menuItem li {
      margin-bottom: 1.5em;
      margin-top: 5px;
      transform: scale(1.15) translateX(-30px);
      opacity: 0;
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
      .megaMenu .menuItem li:nth-child(1) {
        transition-delay: 0.49s; }
      .megaMenu .menuItem li:nth-child(2) {
        transition-delay: 0.42s; }
      .megaMenu .menuItem li:nth-child(3) {
        transition-delay: 0.35s; }
      .megaMenu .menuItem li:nth-child(4) {
        transition-delay: 0.28s; }
      .megaMenu .menuItem li:nth-child(5) {
        transition-delay: 0.21s; }
      .megaMenu .menuItem li:nth-child(6) {
        transition-delay: 0.14s; }
      .megaMenu .menuItem li:nth-child(7) {
        transition-delay: 0.07s; }
      .megaMenu .menuItem li:nth-child(8) {
        transition-delay: 0s; }
      .megaMenu .menuItem li:nth-child(9) {
        transition-delay: -0.07s; }
      .megaMenu .menuItem li:nth-child(10) {
        transition-delay: -0.14s; }
      .megaMenu .menuItem li:nth-child(11) {
        transition-delay: -0.21s; }
      .megaMenu .menuItem li:nth-child(12) {
        transition-delay: -0.28s; }
      .megaMenu .menuItem li:nth-child(13) {
        transition-delay: -0.35s; }
      .megaMenu .menuItem li:nth-child(14) {
        transition-delay: -0.42s; }
      .megaMenu .menuItem li:nth-child(15) {
        transition-delay: -0.49s; }
      @media screen and (max-width: 575px) {
        .megaMenu .menuItem li {
          padding-left: 5%;
          padding-right: 5%; } }
      .megaMenu .menuItem li a {
        font-size: 1.5em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        color: #ddd;
        display: block;
        line-height: 1.45em;
        position: relative; }
        @media screen and (max-width: 575px) {
          .megaMenu .menuItem li a {
            padding-bottom: 0.12rem; } }
        .megaMenu .menuItem li a:hover, .megaMenu .menuItem li a:focus {
          color: #00aec7; }
          .megaMenu .menuItem li a:hover:before, .megaMenu .menuItem li a:focus:before {
            left: -0.75em;
            opacity: 1; }
          .megaMenu .menuItem li a:hover small, .megaMenu .menuItem li a:focus small {
            color: #ddd; }
        .megaMenu .menuItem li a:before {
          position: absolute;
          content: '';
          width: 0.4em;
          height: 2px;
          background: #fff;
          left: -1.5em;
          top: 0.65em;
          opacity: 0;
          transition: 0.3s ease-out; }
        .megaMenu .menuItem li a span {
          margin-right: 1rem; }
        .megaMenu .menuItem li a small {
          font-size: 0.875rem;
          display: inline-block;
          color: #fff; }
          @media screen and (max-width: 575px) {
            .megaMenu .menuItem li a small {
              display: block;
              font-size: 0.75rem;
              line-height: 1.2;
              color: #fff; } }
      .megaMenu .menuItem li ul {
        margin: 0.5em 0 0 2em; }
      .megaMenu .menuItem li li {
        transition: none;
        transform: none;
        transition-delay: 0s;
        opacity: 1;
        margin: 0; }
        .megaMenu .menuItem li li a {
          border: none;
          font-size: 1rem;
          margin: 0 0 0.25em 0;
          padding: 0.2em 0;
          opacity: 0.8;
          line-height: 1.25em;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
          .megaMenu .menuItem li li a:hover, .megaMenu .menuItem li li a:focus {
            opacity: 1; }
  .megaMenu .navigation {
    width: 90%;
    margin: 0 auto 1em;
    max-width: 90%;
    display: none; }
    @media screen and (max-width: 767px) {
      .megaMenu .navigation {
        display: block;
        align-self: flex-start;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        position: relative; }
        .megaMenu .navigation:after {
          position: absolute;
          content: '';
          width: 100%;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          bottom: -1em; } }
    .megaMenu .navigation ul {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 50%;
      flex-flow: row wrap; }
      .megaMenu .navigation ul li {
        flex-basis: 50%;
        padding: 0.15em; }
        .megaMenu .navigation ul li a {
          color: #fff;
          padding: 0.25em 1em 0.25em 1.5em;
          text-align: left;
          border: 1px solid rgba(255, 255, 255, 0.25);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
    .megaMenu .navigation .languageBlock {
      right: 0;
      left: auto;
      width: 100%;
      min-width: 100%; }
      .megaMenu .navigation .languageBlock li {
        padding: 0; }
      .megaMenu .navigation .languageBlock a {
        background: #00aec7;
        border: none;
        padding: 0.5em 2em; }
        .megaMenu .navigation .languageBlock a:hover, .megaMenu .navigation .languageBlock a:focus {
          background: #008194; }
  .megaMenu.menuOpen {
    left: 0; }
    .megaMenu.menuOpen .menuItem > ul > li {
      transform: scale(1) translateX(0px);
      opacity: 1; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(1) {
        transition-delay: 0.27s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(2) {
        transition-delay: 0.34s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(3) {
        transition-delay: 0.41s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(4) {
        transition-delay: 0.48s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(5) {
        transition-delay: 0.55s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(6) {
        transition-delay: 0.62s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(7) {
        transition-delay: 0.69s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(8) {
        transition-delay: 0.76s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(9) {
        transition-delay: 0.83s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(10) {
        transition-delay: 0.9s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(11) {
        transition-delay: 0.97s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(12) {
        transition-delay: 1.04s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(13) {
        transition-delay: 1.11s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(14) {
        transition-delay: 1.18s; }
      .megaMenu.menuOpen .menuItem > ul > li:nth-child(15) {
        transition-delay: 1.25s; }

.search {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 100;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  .search.open {
    pointer-events: auto;
    opacity: 1;
    display: block;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.3s; }
    .search.open .searchBlock {
      transform: translate(-50%, -40%) scale(1);
      transition-delay: 0.5s;
      opacity: 1; }
      @media screen and (max-width: 575px) {
        .search.open .searchBlock {
          transform: scale(1); } }
  .search a.close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 1.75em;
    right: 1em; }
    .search a.close i {
      font-size: 2em;
      color: #00aec7;
      opacity: 0.8; }
    .search a.close:hover i, .search a.close:focus i {
      color: #00aec7; }
    @media screen and (max-width: 575px) {
      .search a.close {
        top: 1em;
        right: 0.5em; } }
  .search .searchBlock {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    opacity: 0;
    transform: translate(-50%, -40%) scale(1.25);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    @media screen and (max-width: 767px) {
      .search .searchBlock {
        width: 80%;
        top: 30%;
        left: 10%;
        transform: translate(0%, 0%) scale(1.25); } }
    .search .searchBlock .searchForm {
      display: flex;
      width: 100%; }
      @media screen and (max-width: 575px) {
        .search .searchBlock .searchForm {
          flex-flow: row wrap;
          position: relative; } }
      .search .searchBlock .searchForm input[type='text'] {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50;
        max-width: 100%;
        padding: 0.25em 2em 0.25em 0.25em;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #333;
        font-size: 2em;
        color: #000;
        margin-right: 0.25em;
        border-radius: 0; }
        @media screen and (max-width: 575px) {
          .search .searchBlock .searchForm input[type='text'] {
            min-width: auto; } }
      .search .searchBlock .searchForm button {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 60px;
        background: none;
        margin-left: -60px; }
        @media screen and (max-width: 575px) {
          .search .searchBlock .searchForm button {
            position: absolute;
            top: 0.65em;
            right: 0.25em;
            margin-left: 0;
            width: 60px; } }
        .search .searchBlock .searchForm button:hover i, .search .searchBlock .searchForm button:focus i {
          opacity: 1; }
        .search .searchBlock .searchForm button i {
          font-size: 2em;
          color: #000;
          opacity: 0.75;
          transition: 0.3s ease-out; }
      .search .searchBlock .searchForm .adv_search {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 150px;
        padding: 0.5em 1em;
        align-self: center;
        color: #00aec7; }
        .search .searchBlock .searchForm .adv_search:hover, .search .searchBlock .searchForm .adv_search:focus {
          color: #008194; }
        @media screen and (max-width: 575px) {
          .search .searchBlock .searchForm .adv_search {
            flex-grow: 1;
            flex-basis: 100%;
            padding: 0.5em;
            text-align: right; } }
  .search .history {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 0.5em; }
    .search .history a.clear {
      color: #999;
      font-size: 0.75rem;
      position: relative;
      padding: 0.25em 1.5em 0.25em 0.5em;
      border-radius: 2em;
      margin-left: -0.25em;
      background: #ddd; }
      .search .history a.clear span {
        display: inline-block;
        line-height: 1.25;
        white-space: nowrap;
        opacity: 1;
        margin-left: 1em;
        transition: 0.3s ease-out; }
        @media screen and (max-width: 575px) {
          .search .history a.clear span {
            opacity: 1;
            margin-left: 1em; } }
      .search .history a.clear:hover, .search .history a.clear:focus {
        color: #333;
        background: #008194;
        color: #fff; }
        .search .history a.clear:hover span, .search .history a.clear:focus span {
          margin-left: 1em;
          opacity: 1; }
    .search .history ul li {
      display: inline-block;
      position: relative;
      margin-right: 0.5em; }
      .search .history ul li:last-child:after {
        display: none; }
      .search .history ul li:after {
        content: ',';
        position: absolute;
        color: #ccc;
        right: -0.5em;
        top: 0.1em; }
      .search .history ul li a {
        display: block;
        color: #666;
        font-size: 0.938rem; }
        .search .history ul li a:hover, .search .history ul li a:focus {
          color: #008194; }
/*# sourceMappingURL=header.css.map */