$headerColor: #1b9cfe,
#5cc5bb,
#ffc50d,
#bf0000,
#ff7a1e,
#9f98f4;
$mainColor: #1b9cfe,
#5cc5bb,
#ffc50d,
#bf0000,
#ff7a1e,
#9f98f4;
$linkColor: #1b9cfe,
#5cc5bb,
#ffc50d,
#bf0000,
#ff7a1e,
#9f98f4;
$lightColor: #dcf0ff,
#b7e2de,
#fff7c0,
#FFE6E5,
#ffc49c,
#e1ddfe;
$themeColor: blue,
green,
black,
red,
orange,
purple;
//---------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
// $primaryColor: #00a4f9; //主色
// $secondaryColor: #781f79; //輔色
// $lightColor: #fec003; //點綴
// $linkColor: #00a4f9; //連結
// $importantColor: #eb0202; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #0066cc;
$color-green: #298729;
$color-orange: #d04500;
$color-red: #d30000;
$color-yellow: #fec003;
$color-purple: #781f79;
$color-gray: #ccc;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #222; //一般字的顏色
$btn-word: #222; //按鈕字的顏色
// 連結顏色
$aColor: #00a4f9;
$aHover: darken($aColor, 10);
$aFocus: lighten($aColor, 10);
// 表單focus顏色
$form-focus: #00a4f9; //表單
$form-btn: #00a4f9; //表單
//------------------------------------------------------字型--------//
// 字型設定
$font-family: Lato,
'PingFang TC',
'Helvetica Neue',
Helvetica,
微軟正黑體,
Arial,
sans-serif;
$font-size: 1em;